<h2>App is running!</h2>

<p>Your newly generated Angular project is up and running!</p>

<h2>Demo</h2>

<p>We have crafted a <a routerLink="/demo">demo</a> covering the basics to get
you started</p>

<h2>Cleanup</h2>

<p>It is recommended to cleanup all pre-generated demo contents before project
development starts. Follow next steps:</p>
<ol>
    <li>Go to src/app/app-routing.module.ts</li>
    <li>Delete the imports for LandingComponent and DemoComponent</li>
    <li>Delete the routes objects inside the "routes" constant</li>
    <li>Go to src/app/app.module.ts</li>
    <li>Delete the imports for LandingModule and DemoModule</li>
    <li>Delete LandingModule and DemoModule from AppModule imports' array</li>
    <li>Delete the "landing" and "demo" feature areas from scr/app</li>
  </ol>

<h2>Documentation</h2>

<p>You can find all documentation related to Angular Starter in the wiki</p>
